#{extends 'main.html' /}
#{set title:'Añadir producto' /}


<div class="wrapper container">
    <div class="wrap-inside">
        <div class="main-content">
            <div id="woo-ordering">
            </div><!-- #woo-ordering -->
            <div id="entry-full">
                <div id="left">
                    <div id="head-line">
                        <h1 class="title">Añade producto</h1>

                        </div><!--  end .meta  -->
                    </div>
                    <div class="post-full single">
                        <div id="post-459" class="post-459 post type-post status-publish format-gallery hentry category-blog instock">
                            <div id="tags">
                            </div>

                            <!-- You can start editing here. -->

                            <div id="commentbox" class="nocomments">
                                <!-- If comments are open, but there are no comments. -->

                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title"><span>Especificaciones del producto</span></h3>
                                    #{form @AnadirProductos.guardarProducto(), id:"commentform", class:"comment-form", enctype:"multipart/form-data"}
                                        <p class="contenido-nombre_referencia">
                                            <label for="nombre_referencia">Nombre referencia<span class="required">*</span><span style="color:red"> #{error 'nombre_referencia'/}</span> </label>
                                            <input id="nombre_referencia" name="nombre_referencia" value="${params.nombre_referencia}" size="30" aria-required="true" type="text">
                                        </p>
                                        <p class="contenido-dibujo">
                                            <label for="dibujo">Dibujo<span class="required">*</span><span style="color:red"> #{error 'dibujo'/}</span> </label>
                                            <input id="dibujo" name="dibujo" value="${params.dibujo}" size="30" aria-required="true" type="text">
                                        </p>
                                        <p class="contenido-composicion">
                                            <label for="composicion">Composición<span class="required">*</span><span style="color:red"> #{error 'composicion'/}</span> </label>
                                            <input id="composicion" name="composicion" value="${params.composicion}" size="30" aria-required="true" type="text">
                                        </p>
                                    <p class="contenido-categoria">
                                        <label for="idCategoria">Categoria<span class="required">*</span><span style="color:red"> #{error 'idCategoria'/}</span></label>
                                        <select id="idCategoria" name="idCategoria">
                                                <option value=""></option>
                                            #{list renderedCategorias, as:'categoria'}
                                                <option value="${categoria.id}">${categoria.nombre}</option>
                                            #{/list}

                                        </select>
                                        </datalist>
                                    </p>
                                        <p class="contenido-largo">
                                            <label for="largo">Largo</label>
                                            <input id="largo" name="largo" value="" size="30" type="text">
                                        </p>
                                        <p class="contenido-pesoportamano">
                                            <label for="pesoportamano">Peso (gr/m2)</label>
                                            <input id="pesoportamano" name="pesoportamano" value="" size="30" type="text">
                                        </p>

                                        <p class="contenido-notas">
                                            <label for="notas">Notas</label>
                                            <input id="notas" name="notas" value="" size="30" type="text">
                                        </p>

                                        <div id="colores">
                                            <div id="divColor1">
                                                <p class="contenido-color1">
                                                    <label for="color1">Color 1 <span class="required">*</span><span style="color:red"> #{error 'color1'/}</span></label>
                                                    <input id="color1" name="color1" value="" size="30" type="text">
                                                    <input type="file" name="foto_color1">
                                                </p>
                                                <p id="contenido-cantidad1">
                                                    <label for="cantidad1">Cantidad 1 <span class="required">*</span><span style="color:red"> #{error 'cantidad1'/}</span></label>
                                                    <input id="cantidad1" name="cantidad1" value="" size="30" type="text">
                                                </p>
                                            </div>
                                        </div>

                                        #{if errores}

                                            <p id="errorColor">
                                            #{list items:errores, as:'error'}
                                                <span style="color:red">${error}</span>
                                            #{/list}
                                            </p>

                                         #{/if}

                                        <p id="anadir">
                                             <a name="anadircolor" id="anadircolor" value="Añadir color" type="">+ Añadir color</a>
                                        </p>

                                        <p id="quitar">
                                            <a name="quitarcolor" id="quitarcolor" value="Quitar Color" type="">- Quitar color</a>
                                        </p>

                                        <input name="numeroColores" id="numeroColores" type="hidden" value="1">
                                        <input name="submit" id="submit" value="Guardar" type="submit">
                                    #{/form}
                                </div><!-- #respond -->

                            </div>
                        </div>
                    </div> <!--  end .post  -->
                </div> <!--  end #right  -->
        </div> <!--  end #entry-full  -->

        </div> <!--  end .main-content  -->
    </div> <!-- .wrap-inside -->
</div>
<script type='text/javascript'>
    $(document).ready(function(){
        var numeroColores = 1;
            $('#anadircolor').click(function(){
                numeroColores = numeroColores+1;
                $('#colores').append('<div id="divColor' + numeroColores + '"><p class="contenido-color' + numeroColores + '"><label for="color' + numeroColores + '">Color ' + numeroColores + '</label><input id="color' + numeroColores + '" name="color' + numeroColores + '" value="" size="30" type="text"><input type="file" name="foto_color' + numeroColores + '"></p><p id="contenido-cantidad' + numeroColores + '"><label for="cantidad' + numeroColores + '">Cantidad ' + numeroColores + '</label><input id="cantidad' + numeroColores + '" name="cantidad' + numeroColores + '" value="" size="30" type="text"></p></div>');
                $('#numeroColores').val('' + numeroColores);
            });
            $('#quitarcolor').click(function(){
                $('#divColor' + numeroColores).remove();
                numeroColores = numeroColores-1;
                $('#numeroColores').val('' + numeroColores);
            });
        });
</script>

<!--

    ***********************************************************
    Posible implementacion para obtener las categorias via ajax
    ***********************************************************

<script type="text/javascript" src="/public/javascripts/oXHR.js"></script>
<script type="text/javascript">
<!--
function request(callback) {
	var xhr = getXMLHttpRequest();

	xhr.onreadystatechange = function() {
		if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
			callback(xhr.responseText);
		}
	};

    var inicioCat = encodeURIComponent(document.getElementById("categoria").value);

	xhr.open("GET", "/anadirproductos/ajaxcategoria?inicioCat=" + inicioCat, true);
	xhr.send(null);
}

function readData(oData) {
	document.getElementsByTagName("datalist").appendChild(oData);
}
//
</script>-->









