#{extends 'main.html' /}
#{set title:'Home' /}
<div class="wrapper container">
    <div class="wrap-inside">
        <div class="main-content">
            <div id="woo-ordering">
            </div><!-- #woo-ordering -->
            <div id="entry-full">
                <div id="left">
                    <div id="head-line">
                        <h1 class="title">Añade producto</h1>

                        </div><!--  end .meta  -->
                    </div>
                    <div class="post-full single">
                        <div id="post-459" class="post-459 post type-post status-publish format-gallery hentry category-blog instock">
                            <div id="tags">
                            </div>

                            <!-- You can start editing here. -->

                            <div id="commentbox" class="nocomments">
                                <!-- If comments are open, but there are no comments. -->








                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title"><span>Add Your Comment</span> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/shopster/2013/06/11/gallery-post/#respond" style="display:none;">Cancel reply</a></small></h3>
                                    <form action="http://demo.ufothemes.com/shopster/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                        <p>Your email address will not be published. Required fields are marked *</p>							<p class="comment-form-author"><label for="author">Name<span class="required">*</span></label><input id="author" name="author" value="" size="30" aria-required="true" type="text"></p>
                                        <p class="comment-form-email"><label for="email">Email<span class="required">*</span></label><input id="email" name="email" value="" size="30" aria-required="true" type="text"></p>
                                        <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" value="" size="30" type="text"></p>
                                        <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>												<p class="form-submit">
                                        <input name="submit" id="submit" value="Submit Comment" type="submit">
                                        <input name="comment_post_ID" value="459" id="comment_post_ID" type="hidden">
                                        <input name="comment_parent" id="comment_parent" value="0" type="hidden">
                                    </p>
                                        <p style="display: none;"><input id="akismet_comment_nonce" name="akismet_comment_nonce" value="c6c4626785" type="hidden"></p>					</form>
                                </div><!-- #respond -->

                            </div>
                        </div>
                    </div> <!--  end .post  -->
                </div> <!--  end #right  -->
                <div id="sidebar">
                    <div id="sidebar-top-div"></div>
                    <div id="sidebar-content">
                        <div id="sidebar-top">

                        </div> <!--  end #sidebar-top  -->


                        <div class="clear"></div>
                        <div id="sidebar-bottom">
                        </div> <!--  end #sidebar-bottom  -->
                    </div> <!--  end #sidebar-content  -->
                    <div id="sidebar-bottom-div"></div>
                </div> <!--  end #sidebar  --> </div> <!--  end #entry-full  -->

        </div> <!--  end .main-content  -->
    </div> <!-- .wrap-inside -->
</div>