#{extends 'main.html' /}
#{set title:'Home' /}

<!DOCTYPE html>
<html>
<head>
    <meta charset="" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="UFO Themes" />

    <title></title>

    <link rel="pingback" href="" />
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/style-ie8.css" />
    <![endif]-->

</head>
<body>
<div id="header-wrap-outer">
    <div id="top-container">
        <div id="top-menu-wrap" class="container">

        </div>
    </div>  <!-- #top-container  -->
    <div id="header-wrap">
        <div id="header" class="container">
            <div id="header-inner">
                <div id="logo-wrap">
                    <!-- Print logo -->
                    <h1 class="logo">
                        <a href="" rel="home">
                            <img id="logo" src="" alt="" />
                        </a>
                    </h1>
                    <!-- End Logo -->
                    <h2 id="tagline"></h2>
                </div> <!-- #logo-wrap -->

                <div id="main-menu-wrap">
            </div><!-- #header-inner -->
        </div><!-- #header  -->
    </div> <!-- #header-wrap -->
</div> <!-- #header-wrap-outer -->


<div id="slider-wrap" >
</div><!-- #slider-wrap -->

<div class="wrapper container">
    <div class="wrap-inside">
        <div class="main-content">

            <div id="woo-ordering">
                <div class="portfolio-nav">
        </div><!-- .portfolio-nav -->

        <ul class="portfolio-tabs clearfix">
            <li class="active"><a data-filter="*" href="#"></a></li>
            <li><a data-filter="." href="#"></a></li>
        </ul>
    </div><!-- #woo-ordering -->